<template>
    <a-assets>
        <a-mixin id="move"
                 attribute="position"
                 direction="reverse"
                 dur="10000"
                 fill="forwards"
                 easing="linear" to="0 0 -100"></a-mixin>
        <a-mixin id="display"
                 attribute="visible"
                 delay="20000"
                 to="false"></a-mixin>
        <img id="louvre" src="../assets/louvre.jpg">
        <img id="background" src="../assets/background.jpg">
        <img id="houda" src="../assets/houda.png">
    </a-assets>
</template>
<script>

    export default{
    }
</script>
