<template>
    <!-- Skysphere. -->
    <a-entity geometry="primitive: sphere; radius: 120"
              material="shader: flat; color: black"
              position="0 1.8 0" scale="1 1 -1" rotation="0 90 0"></a-entity>
</template>
