<template>
    <a-entity visible="true">
        <a-entity :text="params" font="kelsonsans" :position="position">
            <a-animation mixin="move"></a-animation>
            <a-animation mixin="display"></a-animation>
        </a-entity>
    </a-entity>
</template>

<script type="text/babel">
    export default{

        props: ['message', 'x', 'y', 'z'],
        data(){
            return {
                text: this.message,
                position: this.x + ' ' + this.y + ' ' + this.z,
                params: 'value: ' + this.message + '; align: center; width: 6; color: black'
            }
        },
        mounted(){

        }
    }

</script>
