<template>
    <div>
        <a-text text="align: center; width: 6;
               value: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam"
                position="-3 0 0" wrap-count="20"></a-text>
    </div>
</template>


<script>
    export default {
        mounted(){
            console.log('text ok ?')
        }
    }
</script>