<template>
    <a-entity>
        <tweet v-for="item in tweets" :message="item.message" :x="item.x" :y="item.y" :z="item.z"></tweet>
    </a-entity>
</template>
<script type="text/babel">
    import _ from 'lodash';
    import {EventBus} from '../bus';
    import Tweet from './Tweet.vue';

    export default{
        data(){
            return {
                tweets: [],
            }
        },
        mounted(){
            let self = this;
            setInterval(function () {
                self.tweets.push(self.getItem());
            }, 2000);

            EventBus.$on('clickBox', function (data) {
                self.tweets.push(self.getItem(data));
            });

        },
        methods: {
            getTweets(){
            },
            getItem(message = false){
                return {
                    message: message ? message : 'Hellloooooo',
                    x: _.random(-1, 4),
                    y: _.random(-1, 4),
                    z: 10,
                }
            }
        },
        components: {
            Tweet
        }
    }
</script>