<template>

        <a-scene>
            <assets></assets>
            <camera></camera>
            <background></background>

            <a-entity>

                <!-- Center -->
                <a-box material="src: #houda" v-on:click="clickBox" position="-5 0 -5"  depth="0.01" height="2" width="2">
                    <a-animation begin="click" fill="forwards"
                                 direction="normal" attribute="rotation"
                                 to="0 360 0" dur="2000">
                    </a-animation>
                </a-box>
                <a-box material="src: #houda" v-on:click="clickBox" position="-2 0 -5"  depth="0.01" height="2" width="2">
                    <a-animation begin="click" fill="forwards"
                                 direction="normal" attribute="rotation"
                                 to="0 360 0" dur="2000">
                    </a-animation>
                </a-box>
                <a-box material="src: #houda" v-on:click="clickBox" position="1 0 -5"  depth="0.01" height="2" width="2">
                    <a-animation begin="click" fill="forwards"
                                 direction="normal" attribute="rotation"
                                 to="0 360 0" dur="2000">
                    </a-animation>
                </a-box>

                <text></text>

            </a-entity>
        </a-scene>

</template>

<script type="text/babel">
    //    import aframe from 'aframe';
    import {EventBus} from './bus';
    import Tweets from './components/Tweets.vue';
    import Background from './components/Background.vue';
    import Assets from './components/Assets.vue';
    import Camera from './components/Camera.vue';
    import Text from './components/Text.vue';
    
    export default {
        name: 'app',
        data () {
            return {}
        },
        mounted(){

        },
        methods: {
            clickBox(){
                EventBus.$emit('clickBox');
            }
        },
        components: {
            Background, Assets, Camera, Tweets
        }
    }
</script>